<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- banner -->
      <div class="col-md-4 col-sm-6">
        <a class="banner banner-1" href="#">
          <img src="../../../assets/shoes/shoe4.jpg" alt="">
         
        </a>
      </div>
      <!-- /banner -->

      <!-- banner -->
      <div class="col-md-4 col-sm-6">
        <a class="banner banner-1" href="#">
          <img src="../../../assets/bages/bag3.jpg" alt="" >
         
        </a>
      </div>
      <!-- /banner -->

      <!-- banner -->
      <div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3">
        <a class="banner banner-1" href="#">
          <img src="../../../assets/fashion/woman1.jpeg" alt="">
          
        </a>
      </div>
      <!-- /banner -->

    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /section -->
