<!-- {{varsubsubcat|json}} -->
<div id="navigation">
  <!-- menu nav -->
  <div class="container">
        <div class="menu-nav">
          <span class="menu-header">Menu <i class="fa fa-bars"></i></span>
          <ul class="menu-list">
            <li><a  [routerLink]="['/user']">Home</a></li>
            <li class="dropdown mega-dropdown" *ngFor="let x of varcat">
              <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">{{x.catname}}</a>
              <div class="custom-menu">
                <div class="row">
                  <ng-container *ngFor="let y of varsubcat">
                  <div class="col-md-4" *ngIf="x._id==y.cat_id">
                    <ul class="list-links">
                      <li>
                        <h3 class="list-links-title">{{y.subcatname}}</h3>
                      </li>
                      <li *ngFor="let z of varsubsubcat">
                        <ng-container *ngIf="y._id==z.abc.subcat_id">
                          <a href="#" [routerLink]="['showproduct',{subsubcatid:z._id}]">{{z.abc.subsubcatname}}</a>
                        </ng-container>
                      </li>
                      
                    </ul>
                  </div>
                   </ng-container>
                    <hr class="hidden-md hidden-lg">
                  </div>
                 <div class="row hidden-sm hidden-xs">
                  <div class="col-md-12">
                    <hr>
                    <a class="banner banner-1" href="#">
                      <img src="../../../assets/banner05.jpg" alt="">
                      <div class="banner-caption text-center">
                        <h2 class="white-color">NEW COLLECTION</h2>
                        <h3 class="white-color font-weak">HOT DEAL</h3>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </li> 
          </ul>
      </div>
  </div>
</div>
 


