
 <style>
	.searchdiv{
		position:absolute;
		z-index:1001;
		background-color:white;
		box-shadow: 0px 2px 5px black;
padding: 10px;min-width:400px;
	}
	.searchdiv li{
		list-style:none;
		cursor:pointer;
	}
	.searchdiv li:hover{
		background-color:rgb(207, 197, 197);

	}
	.ng-invalid{
	  border-color:red;
	}
	</style>


<header>
    <div class="container">
    <div id="header">
        
            <div class="pull-left" >
                <!-- Logo -->
                <div class="header-logo">
                    <a class="logo" href="#">
                        <img src="../../../assets/logo4.png" alt="">
                    </a>
                </div>
                <!-- /Logo -->
    
                <!-- Search --> 
                <div class="header-search">
                    <form>
                        <input class="input search-input" (keyup)="search()" type="text" placeholder="Enter your keyword" name="search" [(ngModel)]="textsearch" autocomplete="off">
                        <select class="input search-categories" name='drp1' [(ngModel)]="textsearch1">
                          <option value="">Select Category</option>
                          <option *ngFor="let x of catdata" [value]="x._id">{{x.catname}}</option>
                        
                        </select>
                        <button class="search-btn"><i class="fa fa-search" (click)="search()"></i></button>
                        <div class="searchdiv" *ngIf="textsearch"><li *ngFor="let z of searchdata" (click)="searchdata=false" [routerLink]="['productdata',{_id:z._id}]">{{z.productname}}</li></div>
                    </form>
                </div>
                <!-- /Search-->

            </div>

<!-- for logout button -->


<div class="pull-right" *ngIf="!tmp">
        <ul class="header-btns">
            <!-- Account -->
            <li class="header-account dropdown default-dropdown">
                <div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
                    <div class="header-btns-icon">
                        <i class="fa fa-user-o"></i>
                    </div>
                    <strong class="text-uppercase" >My Account </strong>
                </div>
                <a href="#" class="text-uppercase" [routerLink]="['logout']" >Logout</a>
                <ul class="custom-menu">
                    <li><a href="#" [routerLink]="['myac']"><i class="fa fa-user-o" ></i> My Account</a></li>
                    <li><a href="#" [routerLink]="['wishlist']"><i class="fa fa-heart-o"></i> My Wishlist</a></li>
                    <li><a href="#"><i class="fa fa-exchange"></i> Compare</a></li>
                    <li><a href="#" [routerLink]="['bill']"><i class="fa fa-check"></i> Checkout</a></li>
                    <li><a href="#"><i class="fa fa-unlock-alt"></i> Login</a></li>       
                    <li><a href="#"><i class="fa fa-user-plus"></i> Create An Account</a></li>
                </ul>               
            </li>   
            <!-- /Account -->

            <!-- Cart -->
            <li class="header-cart dropdown default-dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                    <div class="header-btns-icon">
                        <i class="fa fa-shopping-cart"></i>
                        <span class="qty">{{total_cat_item}}</span>
                    </div>
               
                    <strong class="text-uppercase">My Cart:</strong><span style="color:blue;margin-left:10px">Hi! {{firstname}} </span>

                    <br>         
                    <span>35.20$</span>
                </a>
                <div class="custom-menu">
                    <div id="shopping-cart">
                        
                        <div class="shopping-cart-btns">
                            <button class="main-btn" [routerLink]="['viewcart']" >View Cart</button><br>
                            <button class="primary-btn" (click)="ser.funproceed()">Checkout <i class="fa fa-arrow-circle-right"></i></button>
                        </div>
                    </div>
                </div>
            </li>
            <!-- /Cart -->

            <!-- Mobile nav toggle-->
            <li class="nav-toggle">
                <button class="nav-toggle-btn main-btn icon-btn"><i class="fa fa-bars"></i></button>
            </li>
            <!-- / Mobile nav toggle -->
        </ul>
    </div>
    

            <div class="pull-right" *ngIf="tmp">
                <ul class="header-btns">
                    <!-- Account -->
                    <li class="header-account dropdown default-dropdown">
                        
                        <a href="#" class="text-uppercase" data-toggle="modal" data-target="#login">Login</a> / 
                        <a href="#" class="text-uppercase" data-toggle="modal" data-target="#regdiv">Signup</a>
                        <ul class="custom-menu">
                       
                            <li><a href="#"><i class="fa fa-user-plus"></i> Create An Account</a></li>
                        </ul>
                    </li>
                    <!-- /Account -->
    
                    <!-- Cart -->
                    <li class="header-cart dropdown default-dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                            <div class="header-btns-icon">
                                <i class="fa fa-shopping-cart"></i>
                                <span class="qty">{{total_cat_item}}</span>
                            </div>
                            <strong class="text-uppercase">My Cart:</strong>
                            <br>
                            <span>35.20$</span>
                        </a>
                        <div class="custom-menu">  
                            <div id="shopping-cart">
                                <div class="shopping-cart-list">
                                    <div class="product product-widget">
                                        <div class="product-thumb">
                                            <img src="../../../assets/product02.jpg" alt="">
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-price">$32.50 <span class="qty">x3</span></h3>
                                            <h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
                                        </div>
                                        <button class="cancel-btn"><i class="fa fa-trash"></i></button>
                                    </div>
                                    <div class="product product-widget">
                                        <div class="product-thumb">
                                            <img src="../../../assets/product03.jpg" alt="">
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-price">$32.50 <span class="qty">x3</span></h3>
                                            <h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
                                        </div>
                                        <button class="cancel-btn"><i class="fa fa-trash"></i></button>
                                    </div>
                                </div>
                                <div class="shopping-cart-btns">
                                    <button class="main-btn" [routerLink]="['viewcart']">View Cart</button>
                                    <button class="primary-btn" >Checkout <i class="fa fa-arrow-circle-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- /Cart -->
    
                    <!-- Mobile nav toggle-->
                    <li class="nav-toggle">
                        <button class="nav-toggle-btn main-btn icon-btn"><i class="fa fa-bars"></i></button>
                    </li>
                    <!-- / Mobile nav toggle -->
                </ul>
            </div>
        </div>
        <!-- header -->
    
    <!-- container -->
    <!-- Registration form-->
    <!-- The Modal -->
    <div class="modal" id="regdiv" >
        <div class="modal-dialog" >
          <div class="modal-content">
          
            <!-- Modal Header -->
            <div class="modal-header" >
              <h3 class="modal-title" style="color: blue;text-align: center">Registration</h3>
              
            </div>
            
            <!-- Modal body -->
            <form #fref="ngForm">
                <div class="modal-body">
                <span ><i class="fa fa-user" style="font-size: 15px" ></i></span> &nbsp;
                  <mat-form-field  style="width:40%">
                      <input type="text"  matInput placeholder="First Name" name="an" [(ngModel)]="firstname" autocomplete="off" required>  
                      </mat-form-field>
                      &nbsp;
                
                      <mat-form-field  style="width:40%">
                        <input type="text"  matInput placeholder="Last Name" name="a" [(ngModel)]="lastname" autocomplete="off" >  
                        </mat-form-field>
                        <!-- <mat-form-field  style="width:40%">
                          <input type="text"  matInput placeholder="Surname" [(ngModel)]="Surname" autocomplete="off" >  
                          </mat-form-field>
                          -->
                          <br>
                         
                          <b>Gendar</b>
                        <mat-radio-group aria-label="Gender" name="ds" [(ngModel)]="Gender" autocomplete="off">
                          <mat-radio-button value="Male">Male</mat-radio-button>
                          <mat-radio-button value="Female">Female</mat-radio-button>
                          </mat-radio-group><br>
                        
                          <!-- <mat-form-field  style="width:80%">
                            <input type="date"  matInput placeholder="DOB" [(ngModel)]="DOB" autocomplete="off" >  
                            
                            </mat-form-field>
                             -->
                             <span><i class="fa fa-mobile" style="font-size: 18px"></i></span>
                             &nbsp; 
                            <mat-form-field  style="width:80%">
                              <input type="number"  matInput placeholder="Mobile No" name="f" [(ngModel)]="mobileno" autocomplete="off" >  
                              </mat-form-field>
                              <br>
        
                              <span><i class="fa fa-envelope-o" style="font-size: 18px"></i></span>
                              &nbsp; 
                              <mat-form-field  style="width:80%">
                                  <input type="email"  matInput placeholder="Enter MailId" name="s" [(ngModel)]="email" autocomplete="off" >  
                                  </mat-form-field><br>
                                  
                                  <span><i class="fa fa-key" style="font-size: 18px"></i></span>
                              <mat-form-field  style="width:80%">
                                <input type="password"  matInput placeholder="Enter Password" id="pwdtext" name="q" [(ngModel)]="password" autocomplete="off" >  
                                </mat-form-field><img style="height:20px" onclick="pwdtext.type='text'" src="../../../assets/visible(1).png">
                                <br>
        
                                   
                                    <!-- <mat-form-field  style="width:40%">
                                      <input type="password"  matInput placeholder="Comform Password" [(ngModel)]="cpassword" autocomplete="off" >  
                                      </mat-form-field> -->
                                        <span><i class="fa fa-address-card-o" style="font-size: 18px"></i></span>
                                  &nbsp; 
                                      <mat-form-field  style="width:80%">
                                        
                                        <textarea type="text"  matInput placeholder="Delivary Address" name="s" [(ngModel)]="Adrees1" autocomplete="off" > </textarea> 
                                        </mat-form-field>
                                      
                                        <!-- <mat-form-field  style="width:80%">
                                          <input type="text"  matInput placeholder="Billing Address" [(ngModel)]="Adrees2" autocomplete="off" >  
                                          </mat-form-field> -->
        
        
        
                </div>
             
                <!-- Modal footer -->
                <div class="modal-footer">
        <button type="button" class="btn btn-primary"  (click)="registrationinsert()">Submit</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </form>
               
            
           
            
          </div>
        </div>
      </div>
      
      <div class="modal fade" id="login" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              
              <h4 class="modal-title" style="color:blue;text-align: center">Login Here</h4>
            </div>
            <div class="modal-body" align="center">
              <span ><i class="fa fa-user" style="font-size: 18px" ></i></span>
              <mat-form-field  style="width:70%">
                <mat-label>Email Id</mat-label>
                  <input type="text"  matInput placeholder="Username" name="f" [(ngModel)]="varemail"  >  
                  </mat-form-field><br>
                  <span><i class="fa fa-key" style="font-size: 18px" onclick="pwdtx.type='text'"></i></span>
              <mat-form-field  style="width:70%">
                <mat-label>Password</mat-label>
                      <input type="password"  matInput placeholder="Password" id="pwdtx" name="d" [(ngModel)]="varpassword"  >  
                      </mat-form-field>
          </div>
          
          <!-- Modal footer -->
     
          <div class="modal-footer">
              <button type="button" class="btn btn-primary"  (click)="funlogin()">login</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          </div>
          </div>
        </div>
      </div>

      <!-- After Registration  -->
<div id="afterreg" class="modal fade"  role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
         
          <h4 style="color: red;text-align:center"  [innerHTML]="com_str"></h4>
        </div>
        
      <!-- Modal footer -->
      <div class="modal-footer">
          <button type="button" class="btn btn-primary"  *ngIf="tmp2" (click)="funautologin()">Login</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
      </div>
    </div>
  </div>


 <!-- String Popup Message -->
 <div id="popup" class="modal fade"  role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
         
          <h4 style="color:green;text-align:center" [innerHTML]="com_str"></h4>
        </div>
        
      <!-- Modal footer -->
      <div class="modal-footer">
          <!-- <button type="button" class="btn btn-primary"  *ngIf="tmp2" (click)="funautologin()">Login</button> -->
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
      </div>
    </div>
  </div>









  <!-- Forgot password -->

  <div class="modal fade" id="forgotpassword" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          
          <h4 class="modal-title" style="color:blue;text-align: center">Recover your password</h4>
        </div>
        <div class="modal-body" align="center">
          <span ><i class="fa fa-user" style="font-size: 18px" ></i></span>
          <mat-form-field  style="width:50%">
            <mat-label>Email Id</mat-label>
              <input type="text"  matInput placeholder="Username" name="f" [(ngModel)]="varemail" autocomplete="off" >  
              </mat-form-field><br>
              
      </div>
      
      <!-- Modal footer -->
   
      <div class="modal-footer">
          <button type="button" class="btn btn-primary"  (click)="Recoverypassword()">Recoverypassword</button>
          
      </div>
      </div>
    </div>
  </div>
</div>


    </header>

    