

<div class="container-fluid">
  <div class="row">
  <div class="col-12 col-md-2 bg-dark pl-1" style="height: 600px">
    <h6 class="text-light">OverView</h6>
    <h6 class="text-light mt-2 ml-4"><i class="fa fa-users-cog"></i>Dashboard</h6>
    <hr style="border:1px solid white;">
        <h6 class="text-light mt-4 ">Component</h6>
        <a class="nav-link" href="#"><a [routerLink]="['Categories']" routerLinkActive="router-link-active" style="color: tomato">Category</a> </a>
        <a class="nav-link" href="#"><a [routerLink]="['Subcategories']" routerLinkActive="router-link-active" style="color: tomato">SubCategory</a> </a>
        <a class="nav-link" href="#"><a [routerLink]="['SubSubCategories']" routerLinkActive="router-link-active" style="color: tomato">SubSubCategory</a> </a>
        <a class="nav-link" href="#"><a [routerLink]="['product']" routerLinkActive="router-link-active" style="color: tomato">Product</a> </a>
  </div>
  <div class="col-12 col-md-10  pl-1 text-center" style="height: 600px">
    
  <router-outlet></router-outlet>
  </div>
  </div>
  </div> 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  